{% extends 'base.html.twig' %}

{% block body %}

   <p>СВЯЖИТЕСЬ С НАМИ</p>
   <p><a href="#">067 - 133 - 42 - 75</a></p>
    <p>ОСТАВЬТЕ ВАШИ КОНТАКТЫ, МЫ С ВАМИ СВЯЖЕМСЯ</p>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Ваше имя" aria-describedby="sizing-addon2">
        <br>
        <input type="text" class="form-control" placeholder="Телефон / email" aria-describedby="sizing-addon2">
        <br>
        <button type="button" class="btn btn-success navbar-btn">Sign in</button>
    </div>

{% endblock %}