{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}/about
{% endblock %}
{% block body %}


    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores exercitationem fuga iure iusto magnam
        necessitatibus perferendis placeat praesentium saepe. A, earum omnis. Ducimus eveniet ex mollitia officia quam,
        suscipit tempore.
    </div>
    <div>Ab aliquid blanditiis expedita mollitia qui tempora voluptas voluptates. Adipisci aut beatae consectetur eos
        laborum nulla repellendus voluptates! Assumenda commodi eaque enim, facilis laboriosam magni minus non possimus
        quidem tempore.
    </div>
    <div>Atque minus numquam sunt. Dolores hic, itaque. Autem distinctio dolore error exercitationem maiores mollitia
        odio placeat possimus quis sapiente sequi vel, velit. Ab dolorem ducimus, eligendi explicabo nihil placeat
        velit.
    </div>
    <div>A dolor, ducimus ea exercitationem expedita facere magnam magni maxime numquam porro quibusdam quidem quos
        reprehenderit similique unde veniam voluptas voluptatum! Minus nemo odit quo rem sequi. Alias, magnam, nemo!
    </div>
    <div>Dolore, fuga, quae. Blanditiis, cumque delectus distinctio ea error exercitationem in ipsam laborum libero,
        magni maiores mollitia nulla perspiciatis praesentium quo quod reprehenderit similique sit, temporibus tenetur
        ullam unde veritatis!
    </div>
<div style="text-align: center">
    img src="https://moguta.ru/uploads/blog/thumbs/70_1455202167.jpg">
</div>

{% endblock %}