About
<a href="{{ notebooksUrl }}">Notebooky</a> <br>
<a href="{{ path('category_show', {'slug': 'tvs', 'page':5}) }}">TVs</a> <br>
<a href="{{ url('category_show', {'slug': 'media'}) }}">Media centers</a>  <br>

Last visited category: {{ lastCategory }}