{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - список категорий товаров
{% endblock %}
{% block body %}
    <style>
        .centr {
            text-align: center;
        }

    </style>
        {% for category in categories %}
            <div class="centr">
                <a style="font-size: 30px" href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
            </div>

        <hr>
        {% endfor %}


{% endblock %}