{% for category in categories %}
    <a href="{{ path('category_list', {id: category.id}) }}">{{ category.id }}</a> <br>
    <a href="{{ path('category_list', {CATEGORY: category.name}) }}">{{ category.name }}</a> <br>
    <hr>
{% endfor %}