{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
        <div class="row">
            {% include 'partials/products.html.twig' with {'products': topProducts} %}
        </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    Логин: Tester
    Пароль: 123456


{% endblock %}