{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
        <div class="row">
            {% include 'partials/products.html.twig' with {'products': topProducts} %}
        </div>


<br>
<h2>
    Логин: Tester
    Пароль: 123456
</h2>

    <h2>
        <strong>Логин админа: Admin
            Пароль: Admin</strong>
    </h2>

{% endblock %}