

Название: {{ product.name }}<br>
Модель: {{ product.description }} <br>
Цена: {{ product.price }} <br>
<img src="{{ product.url }}"width="400" >
<a href="/category-all">Вернуться к списку категорий</a>


