{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Оформление заказа</h1>

    {% include 'orders/items.html.twig' with {'order': order} %}

    <h2>Информация о получателе</h2>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-default">Send</button>
        {{ form_end(form) }}
</div>